html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
    font-family:"Roboto", Sans-serif ;
}

a {
    color: rgb(85, 85, 85);
}

.title {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 48px;
    padding-top: 96px;
    border-top: 1px black solid;
}

/*    Navbar    */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color:rgb(223, 223, 223);
  }
  
  .header-logo {
    height: 36px;
    margin-left: 24px;
    box-shadow: 1px 1px;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 12px;
    
  }
  
  .nav-links a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  


  