body {
  margin: auto;
}


html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
    font-family:"Roboto", Sans-serif ;
}

.nav-margin a {
    color: rgb(255, 255, 255);
}

.title {
    color: white;
    text-align: center;
    padding: 48px;
    padding-top: 96px;
    border-top: 1px black solid;
}

/*    Navbar    */
.navbar {
    color: white;
    align-items: center;
    background-color:rgb(0, 87, 0);
  }

  .nav-margin {
    display: flex;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
  }

  
  .header-logo {
    height: 42px;
  }
  
  
  .nav-links {
    display: flex;
    gap: 16px;
    list-style-type: none;
  }
  
  .nav-links a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 16px;
  }
  
  .nav-links a:hover {
    color: green;
  }

  /*      Banner      */
  
  .intro-section {
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.37);
    background-image:url("./image/tractor-side.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;

  }

  .intro-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: auto;
    max-width: 520px;
  }

  .intro-text h1 {
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    font-size: 28px;
  }

.intro-text p{
  font-size: 14px;
  font-weight: bold;
  
}

/*    Product and Services    */

.product-services {
  padding-top: 50px;
  text-align: center;
  color:rgb(0, 87, 0)
}

.product-services h2{
  font-size: 25px;
  padding-bottom: 25px;

}

.container {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  max-width: 1180px;
  gap: 2em;
  margin-left: auto;
  margin-right: auto;
}

.product-services img {
  width: 360px;
  height: 200px;
}

.product-services a{
  text-decoration: none;
}

.product-services h3{
  color:rgb(0, 87, 0)
}

.product-services p{
  width: 360px;
  color:rgb(95, 95, 95);
  font-size: 15px;
}

/*    Partners    */

.partners {
  max-width: 1180px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.partners h2{
  color:rgb(0, 87, 0);
  padding-top: 25px;
}

.partners p {
color:rgb(95, 95, 95);
}

.executives-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 800px;
}

.executive {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dddddd;
  width: 45%; /* Adjust this value if needed */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.executive h2 {
  margin: 0 0 10px 0;
}

.executive p {
  margin: 0 0 10px 0;
}

.executive a {
  color: #0073b1;
  text-decoration: none;
}

.HPW {
  width: 150px;
  height: 100px;
  padding-bottom: 10px;
}

/*    Maps    */

.maps {
  padding: 20px 0;
  background-color:rgb(0, 87, 0);
}

.con-maps {
  max-width: 1180px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.maps h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  max-width: 1180px;
  color: rgb(255, 230, 230);
}

.maps p{
  color: rgb(255, 230, 230);
}

.maps iframe {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 1180px;
}

/*    Footer    */
 
footer {
  background-color: rgb(43, 43, 43);
  color: white;
}
.footer {
  display: flex;
  justify-content: space-between; 
  padding: 15px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.info {
  flex: 1; 
}

.email {
  flex: 1; 
}

.info h1 {
  font-size: 26px;
}

.contact-info p {
  text-decoration: none;
  font-size: 0.95em;
  line-height: 1.5em;
}